* {
    box-sizing: border-box;
}

body {
    background: url("../img/p2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#menu-wrapper {
    overflow: hidden;
    height: 55px;
}

#menu {
    overflow: hidden;
    height: 70px;
    width: 840px;
    margin: 0px auto;
    background: rgb(156, 60, 162);
    opacity: 0.9;
}

#menu ul {
    height: 70px;
    margin: 0;
    padding: 0px 0px 0px 0px;
    list-style: none;
    line-height: normal;
    text-align: center;
}

#menu li {
    display: inline-block;
}

#menu a {
    display: block;
    padding: 0px 30px;
    line-height: 52px;
    border: none;
    text-decoration: none;
    text-transform: lowercase;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;
}

#menu .current_page_item a {
    text-decoration: none;
    color: #FFFFFF;
}

#menu a:hover {
    background: rgb(85, 82, 82);
    text-decoration: none;
    color: #FFFFFF;
}


/* -------------------------------- */


/* Style inputs */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


/* Style the container/contact section */

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    opacity: 0.95;
}


/* Create two columns that float next to eachother */

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}